<%= provide(:title, "Login") %>
<h1>Log in</h1>
<p>Essa é uma página para acesso de usuários já cadastrados</p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(url: login_path, scope: :session) do |f| %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password, "Senha" %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.label :remember_me, class: "checkbox" do %>
        <%= f.check_box :remember_me %>
        <span>Lembrar de mim</span>
      <% end %>

      <%= f.submit "Acessar minha conta", class: "btn btn-primary" %>
    <% end %>

    <p>Caso não tenha uma conta, <%= link_to "cadastre-se agora", 
      signup_path %>!</p>
  </div>
</div>