<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <nav>
      <%= link_to "Amostra App", "#", id:"logo" %>
      <ul class= "nav navbar-nav navbar-right">
        <li><%= link_to "Home", "#" %></li>
        <li><%= link_to "About", static_pages_about_path %></li>
        <li><%= link_to "Contact", "#" %></li>
        <li><%= link_to "Help", "#" %></li>
      </ul>
    </nav>
  <div>
</header>